@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Задание</h2>
        <p>
            Напишите веб-приложение на ASP.NET MVC 5 для работы с таблицами в MSSQL. Структура таблицы на Ваш вкус (как вариант таблица клиентов и таблица заказов 1-N )‚ представление с клиентами должно поддерживать пейджинг, обязательно чтобы в них было хоть одно поле-справочник с возможностью динамического добавления данных через модальное CRUD окно и одно поле для числа с фиксированной запятой, ввод и отображение числа с маской разделения на классы (12 345,00).
        </p>
        </div>
        <div class="col-md-4">
            <p>
                Особенность - одностраничный интерфейс (ввод информации по заказам происходит не перегружая представление с клиентами, после занесения заказа в клиентах динамически меняем какое-нибудь поле (сумма заказов)), основное представление должно загружаться динамически (AJAX ом при помощи jQuery)‚ а в качестве ORM должен использоваться EF, можно использовать Bootstrap.
            </p>
        </div>
</div>